@model IEnumerable<DBFirstCRUD.Models.Employee>
@{
    ViewBag.Title = "Index";
}

<h2>List of Employees</h2>

<br />
<br />
<button class="btn btn-info">@Html.ActionLink("Add Employee", "Create", "Home")</button>
<button class="btn btn-info">@Html.ActionLink("Search Employee", "Search", "Home")</button>

<br />
<br />
<br />
<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.DOB)</th>
        <th>@Html.DisplayNameFor(model => model.Age)</th>
        <th>Actions</th>
    </tr>

    @foreach (var emp in Model)
    {
        <tr>
            <td>@emp.Id</td>
            <td>@emp.Name</td>
            <td>@emp.DOB</td>
            <td>@emp.Age</td>
            <td>
                @Html.ActionLink("Edit", "Update", "Home", new { id = emp.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Home", new { id = emp.Id }, null)
            </td>
        </tr>
    }
</table>

<div>
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        if (i == ViewBag.CurrentPage)
        {
            <span><b>@i</b></span>
        }
        else
        {
            <a href="@Url.Action("Index", new { page = i })">@i</a>
        }
    }
</div>